<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="row">
    <%= f.label :email, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.email_field :email %>
    </div>
  </div>
  <div class="row">
      <%= f.label :password, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.password_field :password %>
      </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="row">
      <div class="col-lg-10 col-offset-2">
        <div class="checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            Remember me
          <% end -%>
        </div>
      </div>
    </div>
  <% end -%>

  <div class="row">
    <div class="col-lg-10 col-offset-2">
      <%= f.submit "Sign in", :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
